@media screen and (max-width : 1440px) { 
    body {
        background-color: hsl(30, 54%, 90%);
        padding:20px 0px 20px 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: 'Outfit';
        color: hsl(24, 5%, 18%);
    
    
    }
    .card {
    
    background-color:white;
    width: 45%;
    border-radius: 5px;

    
    }
    .card2 {
       
        padding: 15px;
    }
    .card2 img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        padding-bottom: 8px;
    }
    
}
@media screen and (max-width:375px) {
    body {
        background-color:white;
        
    }
    .card {
    
        background-color:white;
        width: 100%;
        
    
        
        }
    
}
.inside-card {
    background-color: hsl(330, 100%, 98%);
    border-radius: 8px;
}
.inside-card h4 {
    color: hsl(332, 51%, 32%);
    
}
p,li {
    font-size: 16px;
    
}
h2{
    color:hsl(14, 45%, 36%);
}
.span {
    
    font-family: 'Outfit';
    color:hsl(24, 5%, 18%);
    font-weight: bold;
    
}
ul li, ol li { 
    color:hsl(14, 45%, 36%);
}
ul li span , ol li span {
    color:black;
}

h1,h2 {

font-family: 'Young Serif';

}
.cal-val{
    color:hsl(14, 45%, 36%);
    font-weight: bold;
}
